# https://console.groq.com/keys
GROQ_API_KEY=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

# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-mnemis-SC8Q4FlB91loqBXdR0oWT3BlbkFJ4Axdnk9Cv8TwjQWy8uM8

# https://serper.dev/
SERPER_API=e0f1c8b8ad8481f02e31ac4d3453465956f0174c

# Brave Search API Key (Serper is the default, brave is an alternative option for search)
BRAVE_SEARCH_API_KEY=BSAWO0vg0zWycUpiuXnMCzj-UxaQQia



# OPTIONAL - Set LAN GPU server, examples:
# PC | http://localhost:11434/v1
# LAN GPU server | http://192.168.1.100:11434/v1
OLLAMA_BASE_URL=http://localhost:11434/v1

# OPTIONAL - Rate Limiting: https://console.upstash.com/redis
UPSTASH_REDIS_REST_URL=https://EXAMPLE.upstash.io
UPSTASH_REDIS_REST_TOKEN=APIKEYGOESHERE

# OPTIONAL - Google Search API Key (Serper is the default, brave is an alternative)
GOOGLE_SEARCH_API_KEY=APIKEYGOESHERE
GOOGLE_CX=VALUEGOESHERE